<!-- This is an example launch file for how a ROS application could use a cordial_behavior -->
<launch>
	
	<arg name="use_manager" default="true"/>
  	<group if="$(arg use_manager)">
		<include file="$(find cordial_face)/launch/face_client.launch"/>
		<include file="$(find qt_robot_gestures)/launch/gestures.launch"/>
		<!--<include file="$(find qt_tracker)/launch/head_track.launch" />-->
		<include file="$(find cordial_dialogue)/launch/lex_demo.launch" />
		<include file="$(find cordial_behavior)/launch/behaviors.launch" />
		<include file="$(find cordial_tts)/launch/tts.launch" />
		<include file="$(find cordial_sensor)/launch/sensor.launch" />
		<node pkg="cordial_manager" type="manager.py" name="manager" output="screen"/>
  	</group>


</launch>
