<launch>
  <arg name="record_cameras" default="true" />
  <arg name="record_microphones" default="true" />
  <arg name="record_qt_state" default="true" />

 <node pkg="rosbag" type="record" name="rosbag_record_cam"
       args="record -o /tmp/qt-cameras /camera/color/image_raw /cordial/chest_camera/video"
       if="$(arg record_cameras)" />

<node pkg="rosbag" type="record" name="rosbag_record_mic"
       args="record -o /tmp/qt-microphones /audio/channel0 /audio/channel1 /audio/channel2 /audio/channel3 /audio/channel4 /audio/channel5 /sound_direction"
       if="$(arg record_microphones)" />

 <node pkg="rosbag" type="record" name="rosbag_record_robot_state"
       args="record -o /tmp/qt-robotstate /qt_nuitrack_app/faces /qt_nuitrack_app/gestures /qt_nuitrack_app/hands /qt_nuitrack_app/skeletons /qt_robot/joints/state /qt_robot/motors/states"
       if="$(arg record_qt_state)" />

 <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="record -o /tmp/qt-diag /diagnostics /rosout"/>   
</launch>